<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1>SOScorro</h1>
    <!-- Inicio create - crear -->
    <h2 >Registo de datos del usuario</h2>
        <button>
            <a href="{{ url_for('registro') }}">Registro</a>
        </button>
        <button>
            <a href="{{ url_for('iniciar_sesion') }}">Iniciar sesión</a>
        </button>

</body>
</html>